In [3]:
# Import necessary libraries
import pandas as pd

# Load the CSV files
flights = pd.read_csv("c:\\Users\\mikol\\OneDrive\\Pulpit\\Projekty\\ProAndVis\\Zajęcia 3\\krk-flights.csv")
passengers = pd.read_csv("c:\\Users\\mikol\\OneDrive\\Pulpit\\Projekty\\ProAndVis\\Zajęcia 3\\krk-passengers.csv")
airlines = pd.read_csv("c:\\Users\\mikol\\OneDrive\\Pulpit\\Projekty\\ProAndVis\\Zajęcia 3\\krk-airlines.csv")

In [4]:
# 1. List including flight number and destination
flight_destinations = flights[['flight', 'to']]
print("Flight Number and Destination:")
print(flight_destinations)

Flight Number and Destination:
  flight        to
0  LN222    London
1  BE321    Berlin
2  PA006     Paris
3  NY777  New York

In [5]:
# 2. Flight list with the full name of the airline and the name of the aircraft
flights_with_airlines = flights.merge(airlines, on='airlineid')[['flight', 'airline', 'airplane']]
print("\nFlight List with Airline and Aircraft:")
print(flights_with_airlines)

Flight List with Airline and Aircraft:
  flight     airline     airplane
0  LN222   PanEurope   Boeing 787
1  BE321  SunHoliday  Airbus A319
2  PA006  SunHoliday  Airbus A319
3  NY777     BlueSky  Airbus A330

In [6]:
# 3. List of passengers on a flight to London sorted by surname
london_flight = flights[flights['to'] == 'London']['flight'].iloc[0]
london_passengers = passengers[passengers['flight'] == london_flight].sort_values(by='surname')
print("\nPassengers on Flight to London (Sorted by Surname):")
print(london_passengers)

Passengers on Flight to London (Sorted by Surname):
   flight      name     surname  gender
99  LN222   Claudie       Braid  Female
9   LN222  Nehemiah     Budcock    Male
98  LN222    Ingmar     Cockman    Male
35  LN222    Willyt     Matlock  Female
61  LN222    Rennie  McComiskey  Female
4   LN222  Ferguson       Osban    Male
41  LN222    Nolana      Pattie  Female
70  LN222    Mareah      Peplay  Female
56  LN222    Araldo     Permain    Male
62  LN222    Stormy       Quare  Female
73  LN222      Edik     Smieton    Male
16  LN222     Lindi       Snoad  Female
97  LN222  Emmanuel      Tickel    Male
85  LN222    Ashton    Tregunna    Male
77  LN222  Brewster        Vear    Male

In [7]:
# 4. List of women flying to Paris ordered by surname
paris_flight = flights[flights['to'] == 'Paris']['flight'].iloc[0]
women_to_paris = passengers[(passengers['flight'] == paris_flight) & (passengers['gender'] == 'Female')].sort_values(by='surname')
print("\nWomen Flying to Paris (Sorted by Surname):")
print(women_to_paris)

Women Flying to Paris (Sorted by Surname):
   flight       name     surname  gender
15  PA006    Miguela      Benzie  Female
3   PA006      Heath  Butterfill  Female
69  PA006    Erminie     Earland  Female
91  PA006     Janene       Elger  Female
44  PA006      Alene        Emig  Female
25  PA006    Chelsae       Evins  Female
46  PA006      Fanny    Fennessy  Female
84  PA006      Paige   Freeborne  Female
89  PA006    Genevra    Garlicke  Female
66  PA006      Linda      Kupper  Female
21  PA006  Annemarie      Letson  Female
79  PA006        Lia     Mapston  Female
1   PA006      Korry     McGrann  Female
42  PA006     Ivette     Milesap  Female
36  PA006      Leann   Pinkerton  Female
22  PA006       Cloe    Salzberg  Female
90  PA006     Prisca   Scutching  Female
32  PA006        Kip     Sumpton  Female
51  PA006     Blanch        Tink  Female
55  PA006      Talia      Yendle  Female

In [8]:
# 5. Number of passengers on the flight to Berlin
berlin_flight = flights[flights['to'] == 'Berlin']['flight'].iloc[0]
passengers_to_berlin = passengers[passengers['flight'] == berlin_flight].shape[0]
print("\nNumber of Passengers on Flight to Berlin:")
print(passengers_to_berlin)

Number of Passengers on Flight to Berlin:
17

In [9]:
# 6. Number of men flying from Krakow
men_from_krakow = passengers[passengers['gender'] == 'Male'].merge(flights, on='flight')
number_of_men_from_krakow = men_from_krakow[men_from_krakow['from'] == 'Krakow'].shape[0]
print("\nNumber of Men Flying from Krakow:")
print(number_of_men_from_krakow)

Number of Men Flying from Krakow:
54

In [10]:
# 7. Number of passengers for each flight
passenger_count_per_flight = passengers['flight'].value_counts().reset_index()
passenger_count_per_flight.columns = ['flight', 'passenger_count']
print("\nNumber of Passengers for Each Flight:")
print(passenger_count_per_flight)

Number of Passengers for Each Flight:
  flight  passenger_count
0  PA006               41
1  NY777               27
2  BE321               17
3  LN222               15