# Import Required Libraries
Import the necessary libraries, including pandas and webbrowser.

In [19]:
# Import Required Libraries
import pandas as pd
import webbrowser

# Import Data from CSV File
Use pandas to read the data from the file product_sales.csv.

In [20]:
# Import Data from CSV File
data = pd.read_csv('product_sales.csv')  # Read the data from the CSV file
data.head()  # Display the first few rows of the data

            SaleRep Region  Orders  TotalSales
0      Felice Lunck   West     218       44489
1    Doralynn Pesak   West     233       61035
2  Madelle Martland   East     264       62603
3      Yasmin Myhan  South     110       59377
4   Marmaduke Webbe   East     188       78771

# Display Data Content
Display the content of the imported data using pandas.

In [21]:
# Display Data Content
data  # Display the entire content of the imported data using pandas

            SaleRep Region  Orders  TotalSales
0      Felice Lunck   West     218       44489
1    Doralynn Pesak   West     233       61035
2  Madelle Martland   East     264       62603
3      Yasmin Myhan  South     110       59377
4   Marmaduke Webbe   East     188       78771
5   Christiano Vero   East     265       68506
6   Cecelia Jealous   West      93       53634
7    Isaak Housiaux   East     189       62455
8    Derril Howland   East     385       73460
9       Judon Allom   West     230       51067

# Export Data to HTML Document
Use pandas to export the data to an HTML document.

In [22]:
# Export Data to HTML Document
data.to_html('product_sales.html')  # Export the data to an HTML document

# Display the HTML document in a web browser
webbrowser.open('product_sales.html')  # Open the HTML document in the default web browser

True

# Export First and Last Column to CSV File
Extract the first and last columns of the data and export them to a new CSV file using pandas.

In [23]:
# Export First and Last Column to CSV File
first_and_last_columns = data.iloc[:, [0, -1]]  # Extract the first and last columns
first_and_last_columns.to_csv('first_and_last_columns.csv', index=False)  # Export to a new CSV file

# Display the CSV document in a text editor
with open('first_and_last_columns.csv', 'r') as file:
    print(file.read())  # Print the content of the CSV file in the text editor

SaleRep,TotalSales
Felice Lunck,44489
Doralynn Pesak,61035
Madelle Martland,62603
Yasmin Myhan,59377
Marmaduke Webbe,78771
Christiano Vero,68506
Cecelia Jealous,53634
Isaak Housiaux,62455
Derril Howland,73460
Judon Allom,51067

# Display CSV Document in Text Editor
Display the content of the new CSV file in a text editor.

In [24]:
# Display the CSV document in a text editor
with open('first_and_last_columns.csv', 'r') as file:
    print(file.read())  # Print the content of the CSV file in the text editor

SaleRep,TotalSales
Felice Lunck,44489
Doralynn Pesak,61035
Madelle Martland,62603
Yasmin Myhan,59377
Marmaduke Webbe,78771
Christiano Vero,68506
Cecelia Jealous,53634
Isaak Housiaux,62455
Derril Howland,73460
Judon Allom,51067

# Export Data Related to West Region to HTML File
Filter the data to include only rows related to the west region and export this data to an HTML file using pandas.

In [25]:
# Export Data Related to West Region to HTML File
west_region_data = data[data['Region'] == 'West']  # Filter the data for the West region
west_region_data.to_html('west_region_data.html')  # Export the filtered data to an HTML file

# Display the content of the HTML file in a web browser
webbrowser.open('west_region_data.html')  # Open the HTML file in the default web browser

True