# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [1]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [10]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank','Mikołaj','Kacper']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [11]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [12]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7    Mikołaj
8     Kacper
dtype: object

You can also display the contents of a Series using the print function.

In [13]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7    Mikołaj
8     Kacper
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [14]:
ds2=pd.Series(data=employees)

ds2

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7    Mikołaj
8     Kacper
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [15]:
com=['processor','grapic card','RAM','colling','memory']

components=pd.Series(data=com)

components

0      processor
1    grapic card
2            RAM
3        colling
4         memory
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [16]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}

tools = pd.Series(data=tools_in_stock)

tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [17]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9,'gluegun':14,'scissors':10}

tools = pd.Series(data=tools_in_stock)

tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
gluegun        14
scissors       10
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [18]:
tools.sum()

82

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

In [36]:
tools.describe()

count     7.000000
mean     11.714286
std       6.264032
min       4.000000
25%       8.000000
50%      10.000000
75%      14.500000
max      23.000000
dtype: float64

### Tasks

Calculate the average number of tools in stock.

In [20]:
tools.mean()

11.714285714285714

Generate descriptive statistics for the tools in stock.

In [21]:
tools.describe()

count     7.000000
mean     11.714286
std       6.264032
min       4.000000
25%       8.000000
50%      10.000000
75%      14.500000
max      23.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [22]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [23]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [24]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [26]:
rest_days={'Mon':45,'Tue':32,'Wed':65,'Thu':48,'Fri':33,'Sat':22,'Sun':19}

restaurant=pd.Series(data=rest_days)

With the created data series, follow the instructions below.

Display the contents of the Series.

In [27]:
restaurant

Mon    45
Tue    32
Wed    65
Thu    48
Fri    33
Sat    22
Sun    19
dtype: int64

Display the total number of restaurant customers.

In [28]:
restaurant.sum()

264

Display the median number of restaurant customers.

In [29]:
restaurant.median()

33.0

Display descriptive statistics.

In [30]:
restaurant.describe()

count     7.000000
mean     37.714286
std      16.100872
min      19.000000
25%      27.000000
50%      33.000000
75%      46.500000
max      65.000000
dtype: float64

Display the list of restaurant customers on business days.

In [31]:
restaurant['Mon':'Fri']

Mon    45
Tue    32
Wed    65
Thu    48
Fri    33
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [37]:
restaurant['Mon':'Fri'].mean()

44.6

Display the list of restaurant customers on the weekend.

In [34]:
restaurant['Sat':'Sun']

Sat    22
Sun    19
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [35]:
restaurant['Sat':'Sun'].sum()

41